@model IEnumerable<Store.ILocation>

@{
    ViewData["Title"] = "Project 1 - Store App";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <form asp-action="SearchCustomer" method="get">
        <div class="form-group">
            <label for="name" class="control-label"></label>
            <input type="text" id="name" name="id" class="form-control" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<p>
    <a asp-action="AddCustomer">Create New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var location in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => location.Name)
            </td>
            <td>
                @Html.ActionLink("Place Order", "AddOrder", new { id = location.Id }) |
                @Html.ActionLink("Order History", "LocationOrders", new { id = location.Id })
            </td>
        </tr>
}
    </tbody>
</table>

@* 
present link at top to add customer
search bar to search for customers at top (as a form) + submit button
List out locations in main content with links for placing an order 
    and viewing order history
*@
