@model IEnumerable<Store.ICustomer>

@{
    ViewData["Title"] = "Search Customers";
}

<div class="text-center">
    <h1 class="display-4">Search Customers</h1>
</div>

@if (Model.Any())
{
<table class="table">
    <caption>List of customers whose name contains the search string</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.Name)
            </td>
            <td>
                @Html.ActionLink("Order History", "CustomerOrders", new { id = customer.Id })
            </td>
        </tr>
}
    </tbody>
</table>
} else 
{
<div class="text-center">
    <h2 class="display-4">No Customers Found.</h2>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}